.typeContainer {
    width: 390px;
    height: 440px;
    text-align: center;
    border-radius: 20px;
}
.typeContainer>div {
    font-size: 32px;
    margin: 310px 0 14px 0;
    font-weight: 600;
}
#tc1 {
    background-image: url('../../picture/squence/em1.png');
    background-size: cover;
}
#tc2 {
    background-image: url('../../picture/squence/em2.png');
    background-size: cover;
}
#tc3 {
    background-image: url('../../picture/squence/em3.png');
    background-size: cover;
}
